.features-section{
    background: linear-gradient(to bottom, #F6F5F5 0%, #FFFFFF 50%, #F4F3F3 100%);
}

.features-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-top: 73px;
    padding-bottom: 142px;
}


.feature-item {
    display: flex;
    align-items: center;      
    gap: 12px;                
    margin-bottom: 18px;
    color: #4F5665;
    font-weight: 400;
    line-height: 24px;
}

.feature-item img {
    width: 24px;
    height: 24px;
    object-fit: contain;      
}



.con2_img{
    margin-right: 5%;
}

.features-content .paragraph{
    margin-bottom: 23px;
    margin-top: 20px;
}




@media screen and (max-width: 768px) {
    .features-container {
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
        gap: 30px;
    }

    .con2_img {
        margin: 0 auto;      
        width: 100%;      
        display: flex;
        justify-content: center;
        order: 1;
    }

    .con2_img img {
        width: 80%;          
        max-width: 400px;     
        height: auto;
    }

    .features-content {
        width: 90%;
        text-align: left;    
        order: 2;
    }

    .feature-item {
        justify-content: flex-start;
        align-items: center;   
    }
}


@media screen and (max-width: 500px) {
    .features-content .paragraph {
        font-size: 14px;
        line-height: 22px;
    }

    .feature-item {
        font-size: 14px;
        line-height: 20px;
        align-items: center;   
    }
}
