.container{
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header_logo {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center; 
    gap: 10px;  
    color: #0B132A;

}
.header__menu {
    display: none;      
    width: 32px;       
    height: 32px;     
    cursor: pointer;
    display: none;      
    align-items: center;
    justify-content: center;
}

.header__menu img {
    width: 24px;   
    height: 24px; 
}

.header_logo img{
    width: 35px;
    height: auto;
}

.header_nav ul{
    display: flex;
    align-items: center;
}

.header_nav-item {
    margin-right: 40px;
    font-size: 16px;
}


.btn_header{
    justify-content: space-between;
}
.btn_header1{
    color: #0B132A;
    font-weight: 500;
}
.btn_header2{
    font-size: 16px;
    font-weight: 500;
    padding: 13px 45px;
    border-radius: 50px;
    background: none;  
    border: 2px solid #F53855;
    color: #F53855;
    margin-left: 30px;
}

@media screen and (max-width: 1024px) {
    .btn_header {
        display: flex;
        flex-direction: column;  
        align-items: center;     
        gap: 10px;               
    }
}
@media screen and (max-width: 768px) {
    .header_logo{
        margin-right: 50px;
    }
    .btn_header {
        display: none;
    }
    .container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        margin-top: 0;
        background-color: white;
        z-index: 10;
        padding: 20px;
    }
    .header__menu{
        display: block;
    }
    .header_nav {
        background: white;
        position: fixed;
        top: 72px;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 0;
        clip-path: circle(0 at top left);
        transition: clip-path 0.9s ease-in;
        overflow: auto;
    }
    .header_nav.open {
        clip-path: circle(150% at top);
    }
    .header_nav ul {
        flex-direction: column;
        height: 100%;
    }
    .header_nav .header_nav-item {
        margin-right: 0;
        padding-top: 10vh;
        flex: 1;
    }
    .header_nav a {
        font-weight: 500;
        display: block;
        font-size: 32px;
        
    }
}